body {
    background-image: url(imagens/paperboat.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    color: whitesmoke;
    
}

h1 {
    font-size: 90px;
    width: 600px;
    height: 300px;
    top: 0;
    
}

.box3 img{
    width: 300px;
    position: absolute;
    bottom: 5%;
    right: 10%;
}

.box4 img {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    top: 45%;
    right: 16%;
}

.box5 {
    width: 220px;
    height: 220px;
    display: inline-block;
    position: absolute;
    left: 25%;
    top: 10%;
    background-color: white;
    opacity: 0.7;
    border-radius: 200px;
}


.box5 img{
    position: absolute;
    width: 170px;
    left: 12%;
    top: 40%;
    z-index: 99;
    
}


.box1 {
    width: 320px;
    height: 320px;
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 7%;
    background-color: antiquewhite;
    opacity: 0.7;
    border-radius: 200px;
    font-family: 'Amatic SC', sans-serif;
    color: black;
    font-size: 40px;
    text-align: center;
    z-index: 99;


}

.box2 {
    width: 320px;
    height: 320px;
    display: inline-block;
    position: absolute;
    right: 15%;
    top: 10%;
    background-color: navajowhite;
    opacity: 0.7;
    border-radius: 200px;
    font-family: 'Amatic SC', sans-serif;
    color: black;
    font-size: 30px;
    text-align: center;
    
}